




a:link
{
	text-decoration: none;
}

a:hover
{
	background-color: grey;
	text-decoration: underline;
}





@font-face {
  	font-family: 'MyWebFont';
  	src:  url('myfont.woff2') format('woff2'),
    url('myfont.woff') format('woff');
}





